<div class="container product-section">
  <h2 class="text-center text-secondary display-4 fade-in">Nuestros Productos</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="square-img">
          <img src="assets/FrescoBlanco.jpg" alt="Queso Fresco Blanco">
        </div>
        <div class="card-body">
          <h5 class="card-title">Queso Fresco Blanco</h5>
          <p class="card-text">Suave, cremoso y perfecto para acompañar con tus típicos favoritos ¡Sabor puro en cada bocado!</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Cuadrado</span> $2.25</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Redondo</span> $2.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="square-img">
          <img src="assets/FrescoLoroco.jpg" alt="Queso Fresco con Loroco">
        </div>
        <div class="card-body">
          <h5 class="card-title">Queso Fresco con Loroco</h5>
          <p class="card-text">Disfruta del único e inigualable sabor del loroco, ofreciendo un sabor que resalta nuestras tradiciones.</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Cuadrado</span> $2.75</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Redondo</span> $2.50</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="square-img">
          <img src="assets/FrescoChile.jpg" alt="Queso Fresco con Chile">
        </div>
        <div class="card-body">
          <h5 class="card-title">Queso Fresco con Chile</h5>
          <p class="card-text">Dale un toque picante a tus comidas con nuestro queso fresco combinado con trocitos de chiles frescos</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Cuadrado</span> $2.50</p>
          <p class="text-primary fw-bold"><span class="text-secondary">Redondo</span> $2.25</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="square-img">
          <img src="assets/FrescoMixto.jpg" alt="Queso Fresco Mixto">
        </div>
        <div class="card-body">
          <h5 class="card-title">Queso Fresco Mixto</h5>
          <p class="card-text">El equilibrio perfecto entre el sabor tradicional con un toque picante. La combinación de dos mundos.</p>
          <p class="text-primary fw-bold"><span class="text-secondary">1 Libra</span> $3.00</p>
          <p class="text-primary fw-bold"><span class="text-secondary"></span> </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="square-img">
          <img src="assets/Cuajada.jpg" alt="Cuajada de Terrón">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cuajada de Terrón</h5>
          <p class="card-text">Hecha con leche 100% pura de vaca, sin preservantes y con la frescura que caracteriza a nuestros quesos.</p>
          <p class="text-primary fw-bold"><span class="text-secondary">1 Libra</span> $4.00</p>
          <p class="text-primary fw-bold"><span class="text-secondary">1/2 Libra</span> $2.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
