<div class="container mt-5">
  <div class="text-center custom-header py-5 rounded">
    <img 
      src="assets/LOGO EMPRESA FINAL full.jpg" 
      alt="Logo de la empresa" 
      class="logo-img mb-4 img-fluid rounded-circle"
    />
    <h1 class="custom-title">Los Quesos de Mi Pueblo</h1>
    <p class="custom-subtitle">Experimenta el sabor artesanal de nuestros productos</p>
</div>


  <div class="mt-5">
    <h2 class="text-center text-secondary display-4">Sobre el Proyecto</h2>
    <p class="text-justify mt-3 fs-4">
      Los Quesos de Mi Pueblo ofrece quesos frescos elaborados a base de leche de vaca 
      100% pura y natural, diferenciándose de la competencia por su preparación artesanal
       sin conservantes y su frescura. La empresa es de tipo comercial y artesanal, se 
       dirige al pueblo salvadoreño en general y su producción toma lugar en la ciudad de Chalchuapa.
    </p>

    <div class="card my-5">
      <section class="d-flex align-items-center justify-content-start text-start p-4">
        <img src="assets/Misión.png" alt="Misión" style="width: 200px; height: 200px; margin-right: 20px;">
        <div style="flex-grow: 1; text-align: left;">
          <h2 class="display-4">Misión</h2>
          <p class="lead">Somos una empresa dedicada a la producción y comercialización de quesos 
            elaborados de manera artesanal, con ingredientes frescos y naturales que garantizan
             calidad e higiene del producto, el cual se distribuye de manera empacada. Además,
              hacemos uso de tecnologías web modernas para ofertar nuestro producto con el fin 
              de mejorar el alcance informativo y la comunicación con los clientes.</p>
        </div>
      </section>
    </div>

    <div class="card my-5">
      <section class="d-flex align-items-center justify-content-end text-end p-4">
        <div style="flex-grow: 1; text-align: right;">
          <h2 class="display-4">Visión</h2>
          <p class="lead">Ser una empresa altamente competitiva dentro de un rubro con mucha 
            demanda comercial, innovando con la implementación de nuevas tecnologías de comunicación 
            que faciliten la interacción entre la empresa y los clientes, para potenciar las ventas 
            y la manera en la que se dé a conocer nuestro producto, manteniendo el enfoque inicial de 
            realizar la producción de manera artesanal y natural para ser diferenciados de la competencia.</p>
        </div>
        <img src="assets/Visión.png" alt="Visión" style="width: 200px; height: 200px; margin-left: 20px;">
      </section>
    </div>

    <div class="container mt-5">
      <h2 class="text-center text-secondary display-4">Nuestros Valores</h2>
      <div class="row">
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Respeto</h3>
            <p class="text-center">Valor universal que promoverá una comunicación adecuada tanto entre los miembros de la empresa como con los clientes.</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Honestidad</h3>
            <p class="text-center">Aseguramos que los clientes reciban el peso exacto por un precio justo, y que nuestros empleados gestionen los recursos de manera transparente.</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Solidaridad</h3>
            <p class="text-center"> La empresa fomenta el trabajo en equipo, para garantizar que se realizarán todas las tareas de la empresa en conjunto y con disponibilidad de apoyar en el área que sea requerida para mantener la eficiencia de la empresa.</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Responsabilidad</h3>
            <p class="text-center"> La empresa operará bajo un modelo de trabajo flexible, pero que a su vez se cumplan con los estándares establecidos para este tipo de comercio, además de garantizar un producto de calidad, realizando todas las operaciones bajo el margen de la ley.</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Compromiso</h3>
            <p class="text-center"> Se garantizará que el producto esté elaborado con los materiales establecidos en su debido proceso de producción, además de cumplir con los estándares de higiene, desde la obtención de la materia prima hasta su distribución al consumidor final. </p>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card p-4">
            <h3 class="text-center">Puntualidad</h3>
            <p class="text-center"> Los empleados de la institución deben cumplir con los tiempos establecidos tanto para realizar sus funciones dentro de la empresa, como así también en la entrega de los productos, además de cumplir con los horarios establecidos para que no exista inconformidad con la atención hacia los clientes. </p>
          </div>
        </div>
      </div>
    </div>
    

    <div class="mt-5 bg-light p-4 rounded border">
      <h2 class="text-secondary">Estamos ubicados en:</h2>
      <address>
        <strong>Universidad Modular Abierta, 7a Calle Oriente entre 5a y 7a Avenida Sur</strong><br>
        Santa Ana, El Salvador<br>
        <i class="bi bi-telephone-fill"></i> Teléfono: (+503) 7367 3655<br>
      </address>
    </div>
  </div>
</div>
